#homehero{ data: { parallax: 'scroll', image: { src: '{{cms:file:herorendering.jpg}}' }, speed: 0.8 } }
  .homehero-overlaywrap
    .homehero-overlay.animated.rotateInUpLeft
      %h1 MyFIGUEROA
      %div Creating a better and safer Fig<br />for everyone

      .linebreak

      %a{ href: '#' } Let's Fig it out

#homemap
  {{cms:snippet:figmap}}