%h1 What is MyFIG?
%p
  The Figueroa Corridor Streetscape project (MyFigueroa) seeks to transform the Figueroa Corridor into a complete, multimodal street that better serves the needs of pedestrians, bicyclists, and transit riders, while still accommodating drivers. We hope to accomplish this through improvements in three major areas:
%ul
  %li Adding better signalization and signage, high-visibility crosswalks, transit platforms,   more street trees, and public art to make the pedestrian and transit-rider experience   safer and more enjoyable .
  %li Developing a three-mile bikeway which will build a transformative link between  Downtown and South Los Angeles, expand the City’s bicycle network and help to   implement the City’s Bicycle  Master Plan
  %li Creating separated cycle tracks where bicycles will be separated from roadway traffic,  decreasing injury crashes between non-motorized and motorized users.

%p The project is fully supported by Council District 9 and the Mayor’s Office as a “signature project” for Los Angeles. MyFigueroa is being managed locally by the Los Angeles Department of Transportation (LADOT).

<br />

%h1 Where is it?
%p The project area includes four miles of streets that stretch from downtown L.A.  to South Los Angeles: Figueroa Street from 7th Street in downtown Los Angeles to 41st Street, just south of Exposition Park; 11th Street from Figueroa Street east to Broadway in the South Park neighborhood of downtown Los Angeles; and Martin Luther King Jr. Boulevard from Figueroa Street west to Vermont Avenue, on the south edge of Exposition Park. View a map of the project.

{{cms:file:samplemap.png:image}}
