%header.cf
  .header-left
    %a.spanlink{ href: '/' }
    .header-mark Let's Fig it Out!
    .header-byline Try a different way to go during MyFigueroa Construction in 2016

  .header-right
    .header-secondarymark
      {{cms:file:icons.png:image}}
      MyFIGUEROA

%nav
  %a{ href: '/about' } What is MyFIG
  %a{ href: '/getting_around' } Getting around MyFIG
  %a{ href: '/businesses' } MyFIG for Businesses
  %a{ href: '' } Mailing list

%main
  {{ cms:page:content }}

%footer.cf
  %span.footer-brand MyFigueroa
  %span.footer-partners
    %span This project is partially funded by <a href='https://www.metroexpresslanes.net/en/home/index.shtml'>Metro ExpressLanes</a>
  %span.footer-social
    %a{ href: '#' } Contact
