%header.cf
  .header-left
    .header-mark Let's Fig it Out!
    .header-byline Try a different way to go during MyFigueroa Construction in 2016

  .header-right
    .header-secondarymark
      MyFIGUEROA

%nav
  %a{ href: '' } Getting around MyFIG
  %a{ href: '' } MyFIG for Businesses
  %a{ href: '' } What is MyFIG
  %a{ href: '' } Mailing list

%main
  {{ cms:page:content }}

%footer.cf
  %span.footer-brand MyFigueroa
  %span.footer-partners
    %span This project is partially funded by <a href='https://www.metroexpresslanes.net/en/home/index.shtml'>Metro ExpressLanes</a>
  %span.footer-social
    %a{ href: '#' } Contact
