%header Hey
%nav
  %a{ href: '' } Getting around MyFIG
  %a{ href: '' } MyFIG for Businesses
  %a{ href: '' } What is MyFIG

{{ cms:page:content }}

%footer
  %span.footer-brand MyFigueroa
  %span.footer-partners
  %span.footer-social
    %a{ href: '#' } Contact
