.bgmain
  .centercolumn
    %h1 Fig out getting around
    %br
    .getaroundoption
      .cf
        %dl
          %dt Silver Line
          %dd {{cms:file:silverline.jpg:image}}
        .getaroundmap
          {{cms:snippet:silverlinemap}}

      .convenientfor
        %span Convenient for
        %ul
          %li Staples center
          %li LA Conventin Center
          %li San Gabriel
          %li LA Coliseum

    .getaroundoption
      .cf
        %dl
          %dt Expo line
          %dd {{cms:file:expoline.jpg:image}}
        .getaroundmap
          {{cms:snippet:silverlinemap}}

      .convenientfor
        %span Convenient for
        %ul
          %li Staples center
          %li LA Conventin Center
          %li San Gabriel
          %li LA Coliseum

    .getaroundoption
      .cf
        %dl
          %dt Bicycle
          %dd {{cms:file:bike.jpg:image}}
        .getaroundmap
          {{cms:snippet:silverlinemap}}

      .convenientfor
        %span Convenient for
        %ul
          %li Staples center
          %li LA Conventin Center
          %li San Gabriel
          %li LA Coliseum

    .getaroundoption
      .cf
        %dl
          %dt 110 Express lanes
          %dd {{cms:file:110express.jpg:image}}
        .getaroundmap
          {{cms:snippet:silverlinemap}}

      .convenientfor
        %span Convenient for
        %ul
          %li Staples center
          %li LA Conventin Center
          %li San Gabriel
          %li LA Coliseum