$color-yellow: #E6B10F;
$color-blue: #092C74;
$color-grey: #333;

// Measurements
$bodymargin: 1.5em;
$contentwidth: 1024px;

// Fonts
$font-stag: 'Stag Stencil';
$font-meta: 'MetaPro';

// Animation
$animation-time: .08s;

// Reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family:$font-meta;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color:$color-blue;
  text-decoration:none;
  transition:opacity $animation-time;
  opacity:1;

  &:hover {
    opacity:.8;
    transition:opacity $animation-time;
  }
}

body {
  background-color:$color-grey
}

/* End reset */

header {
  background-color:$color-yellow;
  padding:1rem $bodymargin;
  color:$color-blue;

  .header-left {
    float:left;
    position:relative;
  }

  .header-right {
    float:right;
  }

  .header-mark {
    font-family:$font-stag;
    font-weight:bold;
    font-size:51px;
    margin-bottom:5px;
  }

  .header-byline {
    font-weight:bold;
    font-size:13px;
  }

  .header-secondarymark {
    font-weight:bold;
    font-size:24px;
  }
}

nav {
  background-color:$color-blue;
  padding:1rem $bodymargin;

  a {
    color:#fff;
    margin-right:1.618rem;
  }
}

footer {
  color:$color-yellow;
  background-color:$color-grey;
  padding:.618rem $bodymargin;

  .footer-brand {
    font-size:24px;
    font-weight:bold;
    margin-right:1.618rem;
  }

  .footer-partners {
    position:relative;
    color:rgba(#fff, .6);
    font-size:12px;
    top:-2px;

    a {
      color:rgba(#fff, .6);
      text-decoration:underline;
    }
  }

  .footer-social {
    font-size:20px;
    font-weight:bold;
    float:right;
    position:relative;
    top:3px;

    a {
      color:$color-yellow;
    }
  }
}

.centercolumn {
  width:$contentwidth;
  padding:1rem $bodymargin;
  margin:auto;
  position:relative;
}

.cf:before,
.cf:after {
  content:"";
  display:table;
}
.cf:after {
  clear:both;
}
.cf {
  zoom:1;
}

/* Page styles */

#homehero {
  height:530px;
  position:relative;
  padding-left:1.5rem;
}

.homehero-overlaywrap {
  width:$contentwidth;
  height:100%;
  margin:0 auto;
  position:relative;
  z-index:4;
}

.homehero-overlay, .homemap-overlay {
  position:absolute;
  padding:2rem;
  left:0;
  width:378px;
}

.homehero-overlay {
  background-color:rgba(#333, .8);
  color:#fff;
  bottom:0;
  border-top:4px solid rgba(#1E1E1E, .7);

  & > h1 {
    font-size:60px;
    font-weight:bold;
    margin-bottom:.618rem;
  }

  & > div {
    font-size:24px;
    color:rgba(#fff, .9);
  }

  & > a {
    font-family:$font-stag;
    font-size:46px;
    font-weight:bold;
    color:$color-yellow;

    img {
      margin-left:1rem;
    }
  }
}

#homemap {
  position:relative;
  height:600px;
  background-color:#fff;
  z-index:5;
  padding-left:1.5rem;
}

.homemap-widthadjust {
  margin-left:-1.5em;
}

.homemap-overlaywrap {
  width:$contentwidth;
  margin:0 auto;
  position:relative;
  z-index:4;
}

.homemap-overlay {
  background-color:rgba($color-yellow, .9);
  top:0;
  text-align:center;

  img {
    width:100%;
    margin-bottom:1rem;
  }

  h2 {
    font-size:24px;
    font-weight:bold;
    color:$color-blue;
    margin-bottom:1rem;
    line-height:30px;
  }

  p {
    color:#fff;
    line-height:24px;
  }
}

.linebreak {
  height:1px;
  display:block;
  background-color:rgba(#fff, .5);
  margin:1rem 0;
}

a.spanlink {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.homemap-menuoverlay {
  background-color:rgba(#fff, .68);
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  padding:1.5rem 0;
}

.homemap-menucontainer {
  width:$contentwidth;
  padding-left:1.5rem;
  margin:0 auto;
  text-align:center;

  a {
    display:inline-block;
    background-color:$color-blue;
    padding:1rem 1.618rem;
    text-align:center;
    margin:0 1rem;

    &:first-child {
      text-align:right;
    }

    &:last-child {
      text-align:left;
    }

    dl {
      dt {
        color:#fff;
        font-weight:bold;
        font-size:30px;
      }

      dd {
        color:$color-yellow;
      }
    }
  }
}