%footer.cf
  %span.footer-brand MyFigueroa
  %span.footer-partners
    %a.icon{ target: '_blank', href: 'http://www.metro.net/' }= image_tag "metrologo.png"
    %a.icon{ target: '_blank', href: 'http://lacity.org/' }
      = image_tag "cityoflalogo.png"
    %span <a target='_blank' href='http://lacity.org/'>City of Los Angeles</a>
    %span This project is partially funded by <a href='https://www.metroexpresslanes.net/en/home/index.shtml'>Metro ExpressLanes</a>
  %span.footer-social
    %a.icon{ target: '_blank', href: 'https://www.facebook.com/whatsyourfigueroa' }= image_tag "icon-facebook-gold.svg"
    %a.icon{ target: '_blank', href: 'https://twitter.com/myfigueroa' }= image_tag "icon-twitter-gold.svg"
    %a{ href: 'mailto:David Somers <david.somers@lacity.org>' } Contact