%header.cf
  .roadoverlay {{cms:file:roadoverlay.svg:image}}
  .header-left
    %a.spanlink{:href => "/"}
    .header-secondarymark
      {{cms:file:icons.png:image}}
      MyFigueroa
  .header-right
    .header-byline Try a different way to go during MyFigueroa Construction

%nav
  %a{ href: '/blog', class: 'active' } Blog
  %a{ href: '/about' } What is MyFig
  %a{ href: '/getting_around' } Fig Out How to Get Around
  %a{ href: '/businesses' } MyFig for Businesses
  %a{ href: '/sign_up' } Sign Up For Updates

  %a.float-right{ href: 'http://translate.google.com/translate?hl=&sl=en&tl=es&u=http%3A%2F%2Fmyfigueroa.com' } Español
