%header.cf
  .roadoverlay= image_tag "roadoverlay.svg"
  .header-left
    %a.spanlink{ href: '/' }
    .header-mark Let's Fig it Out!
    .header-byline Try a different way to go during MyFigueroa Construction in 2016

  .header-right
    .header-secondarymark
      = image_tag "icons.png"
      MyFigueroa

%nav
  %a{ href: '/blog', class: 'active' } Blog
  %a{ href: '/about' } What is MyFig
  %a{ href: '/getting_around' } Fig Out How to Get Around
  %a{ href: '/businesses' } MyFig for Businesses
  %a{ href: '/sign_up' } Sign Up For Updates

  %a.float-right{ href: 'http://translate.google.com/translate?hl=&sl=en&tl=es&u=http%3A%2F%2Fmyfigueroa.com' } Español